body {
	background-color: #36393f;
	color: #d7ddde;
}

a {
	color: #d7ddde;
}

hr {
	border: 1px solid #d7ddde;
}

.btn {
	touch-action: manipulation;
	cursor: pointer;
}

.header-bar {
	background-image: linear-gradient(to bottom right, #ac5210, #ebb44a);
	color: white;
	padding: 16px 8px;
}

.older-version-div {
	text-align: right;
	padding: 10px;
}

.container {
	max-width: 1200px;
}

.resultTxt {
	color: #9c8131
}

.job-img{
	min-width: 70px;
	max-width: 70px;
	min-height: 70px;
	max-height: 70px;
	border-radius:15%; overflow:hidden;
}

.icon-img{
	max-width: 20px;
}

.ability-panel {
	#margin: 25px 25px;
}
.ability-panel img{
	#float: left;
	margin-right: 40px;
	margin-bottom: 20px;
	max-width: 350px;
	width:100%;
}

.ability-panel input[readonly]{
	background-color:transparent;
	color:#d7ddde;
}

.form-control {
	background-color: #36393f;
	color: #d7ddde;
}

.border-top {
	padding-top: 20px;
	border-top: 1px solid #d7ddde;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.row-margin-offset{
	margin-left: -15px;
	margin-right: -15px;
}

.dmg-label {
	min-width: 120px;
	float: right;
	background-color: #363639;
}

.perk-label {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #403e46;
}

div.perk-container>div:nth-of-type(odd) {
    background: #313136;
}

.wpn-label img {
	max-width: 35px;
}

.rank-label {
	min-width: 40px;
}

.list-group-item {
	color: #d7ddde;
	background-color: #3f4349;
	border: 1px solid #979797;
}

.list-group-item:hover {
	color: #d7ddde;
	background-color: #4c4d50;
}

.collapseBut img {
	max-width: 60px;
	margin-right:10px;
}

.collapseBut {
	color: #d7ddde;
	font-size: 18px;
	width: 100%;
	text-align:left;
	padding: 0px!important;
	background-image: linear-gradient(to bottom right, #124190, #3b77d0);
	##background-color: #129066;
}

.collapseBut:hover{
	color: #d7ddde;
	background-image: linear-gradient(to bottom right, #114275, #2b5da7)!important;
}

.elem-table img {
	max-width: 30px;
}

.lore-table img {
	max-width: 30px;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle > .toggle-group {
    background:white;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    color:#666;
}

.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%; /* or: left: 50%; */
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 5px; }
.toggle.ios .toggle-handle { border-radius: 5px; }

label img {
    opacity : 0.5;
}
input[type=checkbox]:checked + label img {
    opacity : 1;
}

.img-check {
	touch-action: manipulation;
	cursor: pointer;
	border-radius:10%; overflow:hidden;
	max-width:81px;
}

.wpn-list {
	margin-left: 15px;
	margin-right: 15px;
}



.pagination > li > a
{
    background-color: #3f4349;
    color: #d7ddde;
	border-color: #3f4349;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a ;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

.modal-content {
    color: black;
}