body {
	background-color: #36393f;
	color: #d7ddde;
}

a{
		
}

.header_bar {
	background-image: linear-gradient(to bottom right, #ac7310, #ebb04a);
	color: white;
	padding: 16px 8px;
}

.older-version-div {
	text-align: right;
	padding: 10px;
}

.container {
	max-width: 1200px;
}

.vcenter {
	margin-bottom:15px;
}

.resultTxt {
	color: #9c8131
}

.result_table {
	text-align: center;
	border: 1px solid #ddd
}

.result_table th {
	text-align: center;
	background-color: #4f6da2;
	color: #d7ddde;
}

table.dataTable tbody tr {
	background-color: #36393f;
}

table, table.dataTable {
	#border-collapse: collapse;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	background: none;
	color: #d7ddde!important;
}

table.dataTable tbody tr:hover {
	background-color: #4c4d50;
}

.result_table_div {
	padding:0px;		
}

.ability_panel {
	margin: 25px 25px;
}
.ability_panel img{
	float: left;
	margin-right: 80px;
	margin-bottom: 20px;
	max-width: 340px;
	width:100%;
}

.ability_panel input[readonly]{
	background-color:transparent;
	color:#d7ddde;
}

.form-control {
	background-color: #36393f;
	color: #d7ddde;
}