body {
	background-color: #36393f;
	color: #d7ddde;
}

a {
		
}

.row div{
	#padding-left: 30px;
}

hr {
	border: 1px solid #d7ddde;
}

.header-bar {
	background-image: linear-gradient(to bottom right, #82ac10, #bceb4a);
	color: white;
	padding: 16px 8px;
}

.older-version-div {
	text-align: right;
	padding: 10px;
}

.container {
	max-width: 1200px;
}

.resultTxt {
	color: #9c8131
}

.job-img{
	min-width: 70px;
	max-width: 70px;
	min-height: 70px;
	max-height: 70px;
	border-radius:15%; overflow:hidden;
}

.icon-img{
	max-width: 20px;
}

.options-table {
	margin-left: 15px!important;
	margin-right: 15px!important;
}

.ability-panel {
	#margin: 25px 25px;
}
.ability-panel img{
	#float: left;
	margin-right: 80px;
	margin-bottom: 20px;
	max-width: 350px;
	width:100%;
}

.ability-panel input[readonly]{
	background-color:transparent;
	color:#d7ddde;
}

.form-control {
	background-color: #36393f;
	color: #d7ddde;
}

.border-top {
	padding-top: 20px;
	border-top: 1px solid #d7ddde;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.row-margin-offset{
	margin-left: -15px;
	margin-right: -15px;
}

.dmg-label {
	min-width: 120px; 
	float: right;
	background-color: #4c4d50;
}

.rank-label {
	min-width: 40px;
}

.list-group-item {
	color: #d7ddde;
	background-color: #3f4349;
	border: 1px solid #979797;
}

.list-group-item:hover {
	color: #d7ddde;
	background-color: #4c4d50;
}
